BASIC
#Star                            Spectra                  Distance        X        Y        Z Abs Mag
HIP 6                            M0V                         53.19    16.12    24.50   -44.38   8.681
HIP 7                            G0V                         56.37    27.79    32.02   -37.15   5.885
HD 224717                        F6V                         92.94   -39.04    -9.78   -83.77   3.749
HIP 18                           K5V                         50.18    10.00    19.69   -45.05   7.528
HD 224746                        G0V                        102.77    -6.71    20.51  -100.48   3.991
HD 224744                        F7V                        108.81     7.96    33.04  -103.37   3.947
HD 224748                        G5V                        103.52   -31.35     0.18   -98.66   4.245
HD 224752                        G6V                         41.95   -28.75   -16.53   -25.69   5.537
HIP 47                           K3V                         40.90   -19.90    -7.02   -35.04   7.721
HD 224782                        G1IV                        59.21   -26.35    -7.74   -52.45   2.628
HIP 54                           M5V                         47.69    22.50    26.46   -32.67   7.178
HD 224783                        G2V                         68.21   -39.94   -18.80   -52.01   3.231
HIP 65                           G5V                         58.89   -27.34    -8.84   -51.41   7.150
HD 224808                        K0V                         31.45    14.51    17.25   -21.93   6.302
HIP 74                           K5V                         41.29    26.55    25.93   -18.10   6.851
HD 224828                        G5V                         42.68     8.09    16.31   -38.60   5.419
HIP 84                           K0V                         52.91    30.40    31.85   -29.33   5.992
