BASIC
#Star                            Spectra                  Distance        X        Y        Z Abs Mag
Sol                              G2V                          0.00     0.00     0.00    -0.00    4.85
Proxima Centauri                 M5Ve                         1.29    -1.20    -0.48    -0.04   15.45
Rigel Kentaurus B (Alp2Cen)      K1V                          1.35    -1.27    -0.46    -0.02    5.70
Rigel Kentaurus A (Alp1Cen)      G2V                          1.35    -1.27    -0.46    -0.02    4.34
Lalande 21185                    M2V                          2.55     0.92    -0.52     2.32   10.46
18Eps Eri                        K2V                          3.22     1.65    -1.38    -2.39    6.18
61    Cyg                        K5V                          3.48     0.98     3.32    -0.35    7.49
Procyon (10Alp CMi)              F5IV-V                       3.50     1.81    -2.88     0.79    2.68
61    Cyg                        K7V                          3.50     0.99     3.34    -0.36    8.33
HD 1326                          M1V                          3.57     2.62     2.14    -1.13   10.33
Eps Ind                          K5V                          3.63    -2.42     0.01    -2.70    6.89
52Tau Cet                        G8V                          3.65     0.99    -0.31    -3.50    5.68
Kapteyn's Star                   M0V                          3.92    -0.26    -3.16    -2.30   10.89
Kruger 60                        M2V                          4.01     2.51     3.12    -0.00   11.58
HD 225213                        M2V                          4.36    -1.05     0.14    -4.23   10.36
HIP 54211                        M2Vvar                       4.83     2.13    -0.48     4.31   10.40
Groombridge 1618                 K8V                          4.87     2.94    -0.52     3.85    8.16
HD 204961                        M1V                          4.94    -3.32     0.78    -3.57   10.19
40Omi2Eri                        K1V                          5.04     2.82    -2.80    -3.11    5.92
70    Oph                        K0V SB                       5.09    -2.93     4.04     1.00    5.50
Altair (53Alp Aql)               A7IV-V                       5.14    -1.58     4.83    -0.80    2.20
HD 119850                        M3V                          5.43    -1.58     0.44     5.18    9.79
HD 36395                         M1V                          5.69     3.37    -4.17    -1.89    9.19
HD 152751                        M3Ve                         5.74    -4.38     3.08     2.07   10.23
61Sig Dra                        K0V                          5.77     3.10     4.36     2.15    5.87
33 G. Lib                        K4V                          5.91    -4.97     0.21     3.19    6.86
24Eta Cas                        G0V SB                       5.95     4.96     3.25    -0.52    4.59
HD 156026                        K5V                          5.97    -5.47     2.28     0.70    7.45
HIP 117473                       M2V                          5.97     1.52     2.89    -5.00   10.10
HD 191408                        K2V                          6.05    -4.52     2.55    -3.11    6.41
82 G. Eri                        G8V                          6.06    -0.29    -3.37    -5.03    5.35
Del Pav                          G5IV-Vvar                    6.11    -5.13    -0.55    -3.27    4.62
HIP 86961                        M2V:                         6.18    -5.75     2.26    -0.19   11.53
HIP 86963                        M2V:                         6.18    -5.75     2.26    -0.19   12.43
HD 79210                         M0V                          6.19     4.49    -0.72     4.19    8.68
HD 191849                        M0V                          6.20    -4.92     1.69    -3.38    9.01
HIP 116132                       M6Ve                         6.25     2.62     4.08    -3.94   11.07
HIP 34603                        M5Ve                         6.36     5.50    -2.34     2.17   12.63
HD 219134                        K3Vvar                       6.53     4.53     4.68    -0.36    6.50
37Xi  Boo                        G8V + K4V                    6.70    -2.18     2.36     5.88    5.41
